Automated Local Business Lead Generation Using AI + Google Maps.json
{
  "name": "AI-Powered Lead Finder with Sonar API and Google Maps Integration",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "8cd0c327-6db7-4c99-90ec-0d9ea1f2bb01",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1040,
        -360
      ],
      "webhookId": "0fb951a2-b676-41c5-8e7a-54d0a14a53ef"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "877a8cb4-69fc-4909-bd62-6261bdba7c85",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1060,
        -80
      ],
      "credentials": {
        "openAiApi": {
          "id": "Q8sm1aa9DzoEzGkG",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "7"
      },
      "id": "a75dc244-eab6-4dc6-b907-69bb1d3e8865",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        -900,
        -60
      ],
      "disabled": true
    },
    {
      "parameters": {
        "toolDescription": "This bot helps you extract contact information from Google Maps for lead generation.\n\nUse \"q\" for your search keyword.\n\nUse \"ll\" to input latitude and longitude in this format: @latitude,longitude,zoom (e.g. @34.052235,-118.243683,12z).\n\nUse \"page\" to specify the current page of results.",
        "url": "https://google.serper.dev/maps",
        "sendQuery": true,
        "parametersQuery": {
          "values": [
            {
              "name": "q"
            },
            {
              "name": "ll"
            },
            {
              "name": "page"
            }
          ]
        },
        "sendHeaders": true,
        "parametersHeaders": {
          "values": [
            {
              "name": "X-API-KEY",
              "valueProvider": "fieldValue"
            }
          ]
        }
      },
      "id": "5d33dcd4-1cd1-4d42-9104-9df357713019",
      "name": "Map Searcher",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        -580,
        -60
      ]
    },
    {
      "parameters": {},
      "id": "3cd01dda-1d77-4df6-b40c-1d5868854e2d",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -1040,
        580
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "SAVE DATA TO GOOGLE SHEETS WORKFLOW",
        "height": 400,
        "width": 913,
        "color": 5
      },
      "id": "bd52d683-5dd3-4378-809c-83569ee0b9d0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1120,
        440
      ]
    },
    {
      "parameters": {
        "name": "store_to_google_sheet",
        "description": "This is a tool to parse the input and store to google sheet, columns including:\n\n{\n    \"Name\": \"xxx\",\n    \"Address\": \"xxx\",\n    \"Website\": \"xxx\",\n    \"Rating\": \"xxx\",\n    \"Opening Hours\": \"xxx\",\n    \"Email\": \"xxx\",\n    \"Phone\": \"xxx\"\n}",
        "workflowId": {
          "__rl": true,
          "value": "xFMvp1hCsYzR6jh7",
          "mode": "id"
        }
      },
      "id": "a16beeb8-5e65-4a0d-8aba-6688319b625d",
      "name": "Store to Google Sheet",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 1.2,
      "position": [
        -460,
        -100
      ]
    },
    {
      "parameters": {
        "jsCode": "return { json: { response: \"ok\" } }"
      },
      "id": "8c7d6e0a-2759-4a3e-8f00-606ae09f6e30",
      "name": "Return response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        580
      ]
    },
    {
      "parameters": {
        "jsCode": "const v7 = () => {\n  return 'tttttttt-tttt-7xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {\n    const r = Math.trunc(Math.random() * 16);\n    const v = c == 'x' ? r : (r & 0x3 | 0x8);\n    return v.toString(16);\n  }).replace(/^[t]{8}-[t]{4}/, function() {\n    const unixtimestamp = Date.now().toString(16).padStart(12, '0');\n    return unixtimestamp.slice(0, 8) + '-' + unixtimestamp.slice(8);\n  });\n}\n\n\nconst data = JSON.parse($input.all()[0].json.query);\nconst dataWithId = data.map(i => {\n  const uuid = v7();\n  return { UUID: uuid, ... i }\n});\n\nreturn dataWithId;"
      },
      "id": "962e6a0e-6c8a-4184-9b5a-572783b035a5",
      "name": "Parse content1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -840,
        580
      ]
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1bTam6oAFCdwiCkzTqYOqk-0UNf_BNynsKqgNpM1oOaE",
          "mode": "list",
          "cachedResultName": "Tutorial 9.2 Perplexity <> Google Map",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bTam6oAFCdwiCkzTqYOqk-0UNf_BNynsKqgNpM1oOaE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/160mpEi2DqWmzU53jOyXCOti3is1fP16vkR-GBgbVycg/edit#gid=0"
        },
        "event": "rowAdded",
        "options": {}
      },
      "id": "afbf8054-7389-48f8-a134-85f81def994b",
      "name": "Google Sheets Trigger",
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1340,
        180
      ],
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "kIE8tVhRiLaXYDXb",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "ca4aae55-b574-4f97-a344-f5678c0ea2eb",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -900,
        180
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all()[0].json.choices[0].message.content;\nconst cleaned = items.replace('```json', '').replace('```', '')\nconst parsed = JSON.parse(cleaned);\n\nreturn {data: parsed}"
      },
      "id": "97098502-e6d9-47bf-a028-82acd9b712a7",
      "name": "Convert to JSON Object1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -480,
        180
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "781fc345-87ce-4f2a-84f4-059bd802fc17",
              "leftValue": "={{ $json.Name }}",
              "rightValue": "Name",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            },
            {
              "id": "bbaeb84c-0c19-42f2-9e06-e826e69833fa",
              "leftValue": "={{ $json.Name }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4e0692ee-3d37-4e41-9c8b-a9f295bba9e1",
      "name": "Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -1120,
        180
      ]
    },
    {
      "parameters": {
        "content": "Retrieve Company Emails & Insights via Perplexity",
        "height": 315.62164546431364,
        "width": 1340.354600213169,
        "color": 5
      },
      "id": "7818b42a-b607-4ad5-ae86-2249624a0262",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1380,
        100
      ]
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a research agent helping user to find the contact information from Google Map \"Map Searcher\" or website. After searching, you should structure the output for human readable list.\n\nAfter searching, put your result to \"Store To Google Sheets\", when you call this tool, you must be in this json format in a single call:\n\n[\n{\n    \"Name\": \"xxx\",\n    \"Address\": \"xxx\",\n    \"Website\": \"xxx\",\n    \"Rating\": \"xxx\",\n    \"Opening Hours\": \"xxx\",\n    \"Email\": \"xxx\",\n    \"Phone\": \"xxx\"\n},\n{\n    \"Name\": \"xxx\",\n    \"Address\": \"xxx\",\n    \"Website\": \"xxx\",\n    \"Rating\": \"xxx\",\n    \"Opening Hours\": \"xxx\",\n    \"Email\": \"xxx\",\n    \"Phone\": \"xxx\"\n},...\n]\n\nIf you loop over multiple pages, you should call \"Store To Google Sheets\" each time after \"Map Searcher\" so that we can keep storing without aggregate.",
          "maxIterations": 10
        }
      },
      "id": "2c3c2089-070b-46b4-aaa7-4803f47cc282",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -820,
        -360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a research assistant. Retrieve data from a company and return it. If a field does not exist, return \\\"N/A\\\" for that field. Return JSON only, without any other information.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Get the Email and Company Background of {{ $json.Name }} in {{ $json.Address }}, reference website: {{ $json.Website }}\"\n    }\n  ],\n  \"response_format\": {\n    \"type\": \"json_schema\",\n    \"json_schema\": {\n      \"schema\": {\n        \"$schema\": \"http://json-schema.org/draft-07/schema#\",\n        \"title\": \"CompanyDetails\",\n        \"type\": \"object\",\n        \"properties\": {\n          \"Email\": {\n            \"type\": \"string\"\n          },\n          \"Background\": {\n            \"type\": \"string\"\n          }\n      },\n      \"required\": [\n        \"Email\",\n        \"Background\"\n      ]\n    }\n    }\n  }\n}",
        "options": {}
      },
      "id": "de31999a-51c5-4d29-b3c7-177452ae31d8",
      "name": "Get Contact Details via Perplexity",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -680,
        180
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "8NJp3VlNoBoLLW0l",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1bTam6oAFCdwiCkzTqYOqk-0UNf_BNynsKqgNpM1oOaE",
          "mode": "list",
          "cachedResultName": "Tutorial 9.2 Perplexity <> Google Map",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bTam6oAFCdwiCkzTqYOqk-0UNf_BNynsKqgNpM1oOaE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bTam6oAFCdwiCkzTqYOqk-0UNf_BNynsKqgNpM1oOaE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "UUID",
              "displayName": "UUID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Opening Hours",
              "displayName": "Opening Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Background",
              "displayName": "Background",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "id": "c447d290-ec60-43bf-b076-ba6a75abb8d2",
      "name": "Append row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -640,
        580
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IsHpvw1wCzuxtxLZ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bTam6oAFCdwiCkzTqYOqk-0UNf_BNynsKqgNpM1oOaE",
          "mode": "list",
          "cachedResultName": "Tutorial 9.2 Perplexity <> Google Map",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bTam6oAFCdwiCkzTqYOqk-0UNf_BNynsKqgNpM1oOaE/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bTam6oAFCdwiCkzTqYOqk-0UNf_BNynsKqgNpM1oOaE/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "UUID": "={{ $('Loop Over Items').item.json.UUID }}",
            "Email": "={{ $json.data.Email }}",
            "Background": "={{ $json.data['Company Background'] }}"
          },
          "matchingColumns": [
            "UUID"
          ],
          "schema": [
            {
              "id": "UUID",
              "displayName": "UUID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Address",
              "displayName": "Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Rating",
              "displayName": "Rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Opening Hours",
              "displayName": "Opening Hours",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Phone",
              "displayName": "Phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Background",
              "displayName": "Background",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "id": "e7d05e33-c3c9-42d7-8f2d-8136bfeb47e3",
      "name": "Update row in sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -280,
        180
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IsHpvw1wCzuxtxLZ",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Map Searcher": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Parse content1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store to Google Sheet": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Parse content1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Contact Details via Perplexity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON Object1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contact Details via Perplexity": {
      "main": [
        [
          {
            "node": "Convert to JSON Object1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Return response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "55972edf-8ec8-4466-b2e4-d715d413aac1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7131d60360e7520b33c49d08eba5bc2a27bfc36c962ac1af8533879bab252343"
  },
  "id": "siqIEr79iayw0fF6",
  "tags": []
}